# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/SimonBiggs/nbstripout
    rev: 0a4fa37151ce3c2fb522bf64469224c831a41773
    hooks:
      - id: nbstripout
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^.*demographic\.000000$
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb", "500"]
        exclude: ^.*yarn-.*cjs$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        # args: [ --fix ]  # Run --fix in a separate PR
      # - id: ruff-format  # Do the format in a separate PR
  - repo: https://github.com/python-poetry/poetry
    rev: "1.8"
    hooks:
      - id: poetry-check
