# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/SimonBiggs/nbstripout
    rev: 0a4fa37151ce3c2fb522bf64469224c831a41773
    hooks:
    -   id: nbstripout
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: requirements-txt-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
        args: ['--maxkb', '300']
-   repo: https://github.com/timothycrosley/isort
    rev: 5.1.4
    hooks:
    -   id: isort
        additional_dependencies: ['toml']
        files: ^pymedphys.*\.py$
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      language_version: python3.7
