[MESSAGES CONTROL]

disable =
    bad-continuation,
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    fixme,
    invalid-name


[FORMAT]

max-line-length=88
