[MESSAGES CONTROL]

disable =
    bad-continuation,
    missing-docstring,
    empty-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    fixme,
    invalid-name,
    too-many-ancestors,
    R0801,
    len-as-condition,
    too-many-branches,
    too-many-statements,
    line-too-long,
    too-many-instance-attributes,
    wrong-import-order,
    wrong-import-position,
    ungrouped-imports,
    import-outside-toplevel,


[FORMAT]

max-line-length=88

extension-pkg-whitelist =
    pymssql,
    numpy,
    win32file,
