jobs:
  - job: Tox

    strategy:
      matrix:
        Pylint-All:
          image_name: ubuntu-16.04
          test_title: Pylint All
          toxenv: pylint
          python: 3.7
        Test-Subpackages:
          image_name: ubuntu-16.04
          test_title: Test Subpackages
          toxenv: analysis,dicom,fileformats,labs,logfiles,coordsandscales,electronfactors,databases,utilities,workshops,toolbox
          python: 3.7
        Pytest-DoctestModules:
          image_name: ubuntu-16.04
          test_title: Pytest with Docstrings Included
          toxenv: doctest
          python: 3.7
        Linux-Py37:
          image_name: ubuntu-16.04
          test_title: Linux Py37
          toxenv: py37
          python: 3.7
        Dependency-Tree:
          image_name: ubuntu-16.04
          test_title: Dependency Tree
          toxenv: tree
          python: 3.7

    pool:
      vmImage: $(image_name)

    steps:
    - task: UsePythonVersion@0
      displayName: setup python
      inputs:
        versionSpec: $(python)

    - bash: sudo apt-get install -y pandoc
      displayName: Install Pandoc, need to make this only on doc run
      condition: eq( variables['TOXENV'], 'docs' )

    - bash: "python -c \"import sys; print(sys.version); print(sys.executable)\""
      displayName: Show python information

    - bash: "python -m pip install -U pip setuptools --user"
      displayName: Upgrade pip and setuptools

    - bash: yarn
      displayName: Run yarn

    - bash: "python -m pip install -U tox --user"
      displayName: Install tox

    - bash: python -m tox -e $TOXENV --notest
      displayName: Install test dependencies

    - bash: python -m tox -e $TOXENV
      displayName: Run tests

    - task: PublishTestResults@2
      displayName: Publish test results
      inputs:
        testResultsFiles: junit/*.xml
        testRunTitle: '$(test_title)'
      condition: succeededOrFailed()

  - job: Conda

    strategy:
      matrix:
        mac-py37:
          image_name: macos-10.13
          test_title: macOS py37
          toxenv: py37
          python: 3.7

    pool:
      vmImage: $(image_name)

    steps:
    - task: CondaEnvironment@1
      inputs:
        createCustomEnvironment: true
        environmentName: pymedphys
        packageSpecs: python=$(python) pip "xlwings >= 0.15.4" pymssql matplotlib
        updateConda: true
        createOptions: --channel conda-forge

    - bash: "python -c \"import sys; print(sys.version); print(sys.executable)\""
      displayName: Show python information

    - bash: yarn
      displayName: Run yarn

    - bash: yarn install:test
      displayName: Install dependencies for testing with yarn

    - bash: "pytest -v"
      displayName: Run tests

    - task: PublishTestResults@2
      displayName: Publish test results
      inputs:
        testResultsFiles: junit/*.xml
        testRunTitle: '$(test_title)'
      condition: succeededOrFailed()


  - job: NotebookOutputs

    pool:
      vmImage: 'ubuntu-16.04'

    steps:
    - bash: "python -m pip install -U pip setuptools --user"
      displayName: Upgrade pip and setuptools

    - bash: python -m pip install -U "nbstripout>=0.3.5" --user
      displayName: Install nbstripout

    - bash: find . -iname \*.ipynb | xargs -d "\n" python -m nbstripout && git add -A && git diff HEAD --name-only --exit-code -- "*ipynb"
      displayName: Check that notebooks have no included output


  - job: DependencyTree

    pool:
      vmImage: 'ubuntu-16.04'

    steps:
    - bash: pip install --upgrade pip setuptools
      displayName: Upgrade pip and setuptools

    - bash: sudo apt-get install -y graphviz
      displayName: Install graphviz

    - bash: yarn
      displayName: Run yarn

    - bash: yarn tree:deps
      displayName: Install tree dependencies

    - bash: yarn tree
      displayName: Build and graph dependency trees

    - bash: git add -A && git diff HEAD --name-only --exit-code -- "*"
      displayName: Verify that tree building didn't change anything