graft packages/pymedphys/src/pymedphys
global-exclude *.py[co] yarn-error.log
prune packages/pymedphys/src/pymedphys/gui/node_modules
prune packages/pymedphys/src/pymedphys/.mypy_cache
prune packages/pymedphys/src/pymedphys/*/.mypy_cache
prune packages/pymedphys/src/pymedphys/*/*/.mypy_cache
