[tool.poetry]
name = "pymedphys"
version = "0.36.0-dev1"
readme = "lib/pymedphys/docs/README.rst"
description = "Medical Physics library"
authors = [
    "PyMedPhys Contributors <developers@pymedphys.com>",
    "Simon Biggs <sbiggs@pymedphys.com>",
    "Matthew Jennings <mjennings@pymedphys.com>",
    "Stuart Swerdloff",
    "Phillip Chlap",
    "Jake Rembish",
    "Matthew Cooper <mcooper@pymedphys.com>",
    "Jacob McAloney",
    "Pedro Martinez",
]
license = "Apache-2.0"
homepage = "https://pymedphys.com"
repository = "https://github.com/pymedphys/pymedphys"
documentation = "https://docs.pymedphys.com"
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Scientific/Engineering :: Medical Science Apps.",
    "Topic :: Scientific/Engineering :: Physics",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Healthcare Industry",
]

packages = [{ include = "pymedphys", from = "lib" }]

[tool.poetry.dependencies]
python = "^3.6.2"
dataclasses = { version = "*", python = "~3.6" }
typing-extensions = "*"


# ------- #
# Library #
# ------- #
tqdm = { version = "*", optional = true }  # groups = ["user", "dev"]
attrs = { version = "*", optional = true }  # groups = ["user", "dev"]
watchdog = { version = "*", optional = true }  # groups = ["user", "dev"]

keyring = { version = "*", optional = true }  # groups = ["user", "dev"]
packaging = { version = "*", optional = true }  # groups = ["user", "dev"]
PyYAML = { version = "*", optional = true }  # groups = ["user", "dev"]
requests = { version = "*", optional = true }  # groups = ["user", "dev"]

matplotlib = { version = "*", optional = true }  # groups = ["user", "dev"]
scipy = { version = "*", optional = true }  # groups = ["user", "dev"]
Pillow = { version = "*", optional = true }  # groups = ["user", "dev"]
imageio = { version = "*", optional = true }  # groups = ["user", "dev"]
scikit-image = { version = "*", optional = true }  # groups = ["user", "dev"]

pymssql = { version = "*", optional = true }  # groups = ["user", "dev"]

pynetdicom = { version = "*", optional = true }  # groups = ["user", "dev", "dicom"]
pylibjpeg-libjpeg = { version = "*", optional = true }  # groups = ["user", "dev", "dicom"]

dbfread = { version = "*", optional = true }  # groups = ["user", "dev"]
xmltodict = { version = "*", optional = true }  # groups = ["user", "dev"]
timeago = { version = "*", optional = true }  # groups = ["user", "dev"]
xlsxwriter = { version = "*", optional = true }  # groups = ["user", "dev"]
plotly = { version = "*", optional = true }  # groups = ["user", "dev"]
dicompyler-core = { version = "*", optional = true }  # groups = ["user", "dev"]

# The following lower bounded packages are due to certain APIs utilised
numpy = { version = ">=1.12", optional = true }  # groups = ["user", "dev"]
pandas = { version = ">=1.0.0", optional = true }  # groups = ["user", "dev"]
pydicom = { version = ">=2.0.0", optional = true }  # groups = ["user", "dev", "dicom"]

# Shapely's lower bound is so that the PyPI version with wheels is used
shapely = { version = ">=1.7.0", optional = true }  # groups = ["user", "dev"]

# Streamlit's pinning is due to its current beta nature and the fact that some
# private APIs are utilised.
streamlit = { version = "0.74.1", optional = true }  # groups = ["user", "dev"]
streamlit-ace = { version = "0.0.4", optional = true }  # groups = ["user", "dev"]

# PyLinac is pinned due to historical algorithm changes with both minor and
# patch version bumps.
pylinac = { version = "2.3.2", optional = true }  # groups = ["user", "dev", "doctests"]

# Scikit-learn has an upper bound since there appears to be an incompatibility
# between pylinac and scikit-learn version 0.24.0
# Not needed as PyMedPhys dependency. Included only as a fix.
scikit-learn = { version = "<0.24.0", optional = true }  # groups = ["user", "dev"]

# ----------- #
# Comparables #
# ----------- #
flashgamma = { version = "*", optional = true }  # groups = ["comparables"]

# ---------------- #
# Machine Learning #
# ---------------- #
tensorflow = { version = ">=2.2.0", optional = true }  # groups = ["ml", "doctests"]

# ------------- #
# Documentation #
# ------------- #
sphinx-argparse = { version = "*", optional = true }  # groups = ["dev", "docs"]
sphinxcontrib-napoleon = { version = "*", optional = true }  # groups = ["dev", "docs"]
sphinx-book-theme = { version = "*", optional = true }  # groups = ["dev", "docs", "doctests"]

# Jupyter book has a lower bound due to 0.8 being a major breaking change
# version
jupyter-book = { version = ">=0.8.3", optional = true }  # groups = ["dev", "docs"]

# The sphinx and bibtex packages have an upper bound due to current
# incompatibilities with jupyter-book. Neither of these are needed as a
# direct PyMedPhys dependency. Instead they are included as a fix.
sphinx = { version = "<3.4.0", optional = true }  # groups = ["dev", "docs"]
sphinxcontrib-bibtex = { version = "<2.0.0", optional = true }  # groups = ["dev", "docs"]

# ----- #
# Tests #
# ----- #
pytest = { version = "*", optional = true }  # groups = ["dev", "tests"]
pytest-sugar = { version = "*", optional = true }  # groups = ["dev", "tests"]
hypothesis = { version = "<6", optional = true }  # groups = ["dev", "tests"]
psutil = { version = "*", optional = true }  # groups = ["dev", "tests"]
pylint = { version = "*", optional = true }  # groups = ["dev", "tests"]
pytest-pylint = { version = "*", optional = true }  # groups = ["dev", "tests"]
pytest-rerunfailures = { version = "*", optional = true }  # groups = ["dev", "tests"]
python_dateutil = { version = "*", optional = true }  # groups = ["dev", "tests"]

# ---------------- #
# Development Only #
# ---------------- #
pre-commit = { version = "*", optional = true }  # groups = ["dev"]
black = { version = "^19.3b0", optional = true }  # groups = ["dev", "propagate"]
mypy = { version = "*", optional = true }  # groups = ["dev"]
rope = { version = "*", optional = true }  # groups = ["dev"]
doc8 = { version = "*", optional = true }  # groups = ["dev"]
tomlkit = { version = "*", optional = true }  # groups = ["dev", "propagate"]
readme-renderer = { version = "*", optional = true }  # groups = ["dev"]


[tool.poetry.extras]
user = ["tqdm", "attrs", "watchdog", "keyring", "packaging", "PyYAML", "requests", "matplotlib", "scipy", "Pillow", "imageio", "scikit-image", "pymssql", "pynetdicom", "pylibjpeg-libjpeg", "dbfread", "xmltodict", "timeago", "xlsxwriter", "plotly", "dicompyler-core", "numpy", "pandas", "pydicom", "shapely", "streamlit", "streamlit-ace", "pylinac", "scikit-learn"]
dev = ["tqdm", "attrs", "watchdog", "keyring", "packaging", "PyYAML", "requests", "matplotlib", "scipy", "Pillow", "imageio", "scikit-image", "pymssql", "pynetdicom", "pylibjpeg-libjpeg", "dbfread", "xmltodict", "timeago", "xlsxwriter", "plotly", "dicompyler-core", "numpy", "pandas", "pydicom", "shapely", "streamlit", "streamlit-ace", "pylinac", "scikit-learn", "sphinx-argparse", "sphinxcontrib-napoleon", "sphinx-book-theme", "jupyter-book", "sphinx", "sphinxcontrib-bibtex", "pytest", "pytest-sugar", "hypothesis", "psutil", "pylint", "pytest-pylint", "pytest-rerunfailures", "python_dateutil", "pre-commit", "black", "mypy", "rope", "doc8", "tomlkit", "readme-renderer"]
dicom = ["pynetdicom", "pylibjpeg-libjpeg", "pydicom"]
doctests = ["pylinac", "tensorflow", "sphinx-book-theme"]
comparables = ["flashgamma"]
ml = ["tensorflow"]
docs = ["sphinx-argparse", "sphinxcontrib-napoleon", "sphinx-book-theme", "jupyter-book", "sphinx", "sphinxcontrib-bibtex"]
tests = ["pytest", "pytest-sugar", "hypothesis", "psutil", "pylint", "pytest-pylint", "pytest-rerunfailures", "python_dateutil"]
propagate = ["black", "tomlkit"]

[tool.poetry.scripts]
pymedphys = "pymedphys.__main__:main"

[tool.poetry.plugins."sphinx.html_themes"]
sphinx_pymedphys_theme = "pymedphys.docs.theme"

[tool.isort]
multi_line_output = 3
line_length = 88
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

known_third_party = ["pymedphys._imports"]
known_general_scientific = [
    "numpy", "scipy", "pandas", "imageio", "PIL", "skimage", "matplotlib",
    "mpl_toolkits", "shapely", "streamlit", "altair"
]
known_machine_learning = [
    "tensorflow", "pytorch"
]
known_medphys = [
    "pydicom", "pylinac", "pynetdicom", "libjpeg"
]
known_first_party = ["pymedphys"]
known_experimental = ["pymedphys._experimental"]
sections = [
    "FUTURE",
    "STDLIB",
    "THIRDPARTY",
    "GENERAL_SCIENTIFIC",
    "MACHINE_LEARNING",
    "MEDPHYS",
    "FIRSTPARTY",
    "EXPERIMENTAL",
    "LOCALFOLDER",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
