[tool.poetry]
name = "pymedphys"
version = "0.21.0"
readme = "README.rst"
description = "Medical Physics library"
authors = [
    "PyMedPhys Contributors <developers@pymedphys.com>",
    "Simon Biggs <sbiggs@pymedphys.com>",
    "Matthew Jennings <mjennings@pymedphys.com>>",
    "Phillip Chlap",
    "Paul King <pking@pymedphys.com>",
    "Matthew Sobolewski <msobolewski@pymedphys.com>",
    "Jacob McAloney",
    "Pedro Martinez"
]
license = "Apache-2.0"
homepage = "https://pymedphys.com"
repository = "https://github.com/pymedphys/pymedphys"
documentation = "https://docs.pymedphys.com"
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Scientific/Engineering :: Medical Science Apps.",
    "Topic :: Scientific/Engineering :: Physics",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Healthcare Industry",
]

[tool.poetry.dependencies]
# Will not work without these
python = "^3.6"
dataclasses = { version = "*", python = "~3.6.0" }

#### Below here is actually optional
# One day might create a pymedphys-core which installs the above only.

# library
tqdm = "*"
attrs = "*"
watchdog = "*"

keyring = "*"
packaging = "*"
PyYAML = "*"
requests = "*"

numpy = "^1.12"
matplotlib = "*"
scipy = "*"
pandas = "*"

Pillow = "*"
imageio = "*"

shapely = ">= 1.7.0"

dbfread = "*"

pydicom = "< 1.4.0"
pynetdicom = "*"

# difficult
cython = "*"
pymssql = "< 3.0.0"

# labs
python_dateutil = "*"
scikit-image = "*"

# gui
jupyterlab_server = { version = "*", optional = true }

# ml
tensorflow = { version = "2.1.0-rc2", optional = true }
absl-py = { version = "*", optional = true }

# jupyter
jupyterlab = { version = "*", optional = true }
pywin32 = { version = "224", optional = true, platform = "win32" }

# docs
sphinx = { version = ">= 1.4, < 1.8", optional = true }
sphinx-rtd-theme  = { version = "^0.4.3", optional = true }
sphinx-autobuild = { version = "*", optional = true }
sphinxcontrib-napoleon = { version = "*", optional = true }
sphinx-argparse  = { version = "*", optional = true }
nbsphinx  = { version = "*", optional = true }
jupyter_client = { version = "*", optional = true }
ipython = { version = "*", optional = true }
ipykernel = { version = "*", optional = true }
m2r = { version = "*", optional = true }

# pytest
pytest = { version = "*", optional = true }
pytest-sugar  = { version = "*", optional = true }
hypothesis  = { version = "*", optional = true }

# pylint
pylint  = { version = "*", optional = true }
pytest-pylint  = { version = "*", optional = true }


[tool.poetry.dev-dependencies]
# Testing
tox = "*"
pytest = "*"
pytest-sugar = "*"
pylint = "*"
pytest-pylint = "*"
hypothesis = "*"

# Git Management
pre-commit = "*"

# VSCode linting and formatting
black = "^19.3b0"
mypy = "*"
rope = "*"

# Building documentation
sphinx = ">= 1.4, < 1.8"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-napoleon = "*"
sphinx-argparse = "*"
nbsphinx = "*"
jupyter_client = "*"
ipython = "*"
ipykernel = "*"
m2r = "*"

# VSCode extension dependencies
doc8 = "*"
pydot = "^1.4.1"
tensorflow-datasets = "^1.3.2"

# gui
jupyterlab_server = "*"

# Packages to include later
# pytest-cov = "^2.5"
# pytest-mock = "^1.9"

[tool.poetry.extras]
docs = [
    "sphinx", "sphinx-rtd-theme",
    "sphinx-autobuild", "sphinxcontrib-napoleon", "sphinx-argparse",
    "nbsphinx", "jupyter_client", "ipython", "ipykernel",
    "m2r"
]

gui = [
    "jupyterlab_server"
]

ml = [
    "tensorflow", "absl-py"
]

jupyter = [
    "jupyterlab", "pywin32"
]

pytest = [
    "pytest", "pytest-sugar", "hypothesis"
]

pylint = [
    "pylint", "pytest-pylint"
]

[tool.poetry.scripts]
pymedphys = "pymedphys.cli.main:pymedphys_cli"

[tool.isort]
multi_line_output = 3
line_length = 88
include_trailing_comma = true
known_third_party = [
    "attr", "tqdm", "pytest", "hypothesis", "cefpython3", "notebook",
    "jupyterlab", "traitlets", "jupyterlab_server", "packaging", "dateutil",
    "pymedphys._imports", "watchdog"
]
known_scicore = [
    "numpy", "scipy", "pandas"
]
known_matplotlib = [
    "matplotlib", "mpl_toolkits"
]
known_sci_other = [
    "imageio", "PIL", "skimage"
]
known_medphys = [
    "pydicom", "pylinac"
]
known_first_party = ["pymedphys"]
sections = [
    "FUTURE", "STDLIB", "THIRDPARTY", "SCICORE", "MATPLOTLIB", "SCI_OTHER",
    "MEDPHYS", "FIRSTPARTY", "LOCALFOLDER"
]

[build-system]
requires = ["poetry >= 0.12", "setuptools >= 35.0.2", "wheel >= 0.29.0"]
build-backend = "poetry.masonry.api"
