astroid==2.15.3 ; python_version >= "3.8" and python_version < "3.12"
attrs==23.1.0 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Windows" or python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
dill==0.3.6 ; python_version >= "3.8" and python_version < "3.12"
exceptiongroup==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
hypothesis==5.49.0 ; python_version >= "3.8" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "3.12"
isort==5.12.0 ; python_version >= "3.8" and python_version < "3.12"
lazy-object-proxy==1.9.0 ; python_version >= "3.8" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.8" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.12"
platformdirs==3.2.0 ; python_version >= "3.8" and python_version < "3.12"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
psutil==5.9.5 ; python_version >= "3.8" and python_version < "3.12"
pylint==2.17.2 ; python_version >= "3.8" and python_version < "3.12"
pytest-rerunfailures==11.1.2 ; python_version >= "3.8" and python_version < "3.12"
pytest-sugar==0.9.7 ; python_version >= "3.8" and python_version < "3.12"
pytest==7.3.1 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.8" and python_version < "3.12"
termcolor==2.2.0 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
tomlkit==0.11.7 ; python_version >= "3.8" and python_version < "3.12"
tqdm==4.65.0 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.5.0 ; python_version >= "3.8" and python_version < "3.12"
wrapt==1.15.0 ; python_version >= "3.8" and python_version < "3.12"
