accessible-pygments==0.0.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
alabaster==0.7.13 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
appnope==0.1.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and (sys_platform == "darwin" or platform_system == "Darwin")
asttokens==2.4.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
babel==2.14.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
backcall==0.2.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and implementation_name == "pypy"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
contourpy==1.1.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
debugpy==1.8.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
docutils==0.18.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
executing==2.0.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
fastjsonschema==2.19.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
fonttools==4.49.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.6 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
imagesize==1.4.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
importlib-metadata==7.0.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
importlib-resources==6.1.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.10"
ipykernel==6.29.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
ipython==8.12.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jinja2==3.1.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jsonschema==4.21.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jupyter-book==0.15.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jupyter-cache==0.6.1 ; python_version >= "3.8" and python_version < "3.12" and python_full_version != "3.9.7"
jupyter-client==8.6.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
jupyter-core==5.7.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
latexcodec==3.0.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
linkify-it-py==2.0.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
markdown-it-py==2.2.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
matplotlib-inline==0.1.6 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
matplotlib==3.7.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
mdit-py-plugins==0.3.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
myst-nb==0.17.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
myst-parser==0.18.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
nbclient==0.7.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
nbformat==5.9.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
numpy==1.24.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
parso==0.8.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pillow==10.2.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==4.2.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
prompt-toolkit==3.0.43 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pybtex-docutils==1.0.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pybtex==0.24.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and implementation_name == "pypy"
pydata-sphinx-theme==0.14.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pydicom==2.4.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pygments==2.17.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.8" and python_version < "3.9"
pywin32==306 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
pyzmq==25.1.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
referencing==0.33.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
rpds-py==0.18.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.12" and python_full_version != "3.9.7"
setuptools==69.1.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-argparse==0.4.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-book-theme==1.0.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-comments==0.0.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-copybutton==0.5.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-design==0.3.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-external-toc==0.3.1 ; python_version >= "3.8" and python_version < "3.12" and python_full_version != "3.9.7"
sphinx-jupyterbook-latex==0.5.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-multitoc-numbering==0.1.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-thebe==0.2.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx-togglebutton==0.3.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinx==5.0.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-bibtex==2.5.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
sqlalchemy==2.0.28 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
tomlkit==0.12.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
tornado==6.4 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
tqdm==4.66.2 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
traitlets==5.14.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
typing-extensions==4.10.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
uc-micro-py==1.0.3 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
wheel==0.43.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
zipp==3.17.0 ; python_version >= "3.8" and python_full_version != "3.9.7" and python_version < "3.12"
-e .[docs]
