# Order here is important, this is the order that pip processes the
# packages. They must be installed in level order so that only the local
# versions are installed.

# Level 0
./packages/pymedphys_utilities

# Level 1
./packages/pymedphys_coordsandscales
./packages/pymedphys_labs
./packages/pymedphys_electronfactors
./packages/pymedphys_workshops

# Level 2
./packages/pymedphys_analysis
./packages/pymedphys_databases

# Level 3
./packages/pymedphys_dicom
./packages/pymedphys_fileformats

# Level 4
./packages/pymedphys_toolbox
./packages/pymedphys_xlwings
./packages/pymedphys_logfiles