# Order here is important, this is the order that pip processes the
# packages. They must be installed in level order so that only the local
# versions are installed.

# Level 0
-e ./packages/pymedphys_utilities

# Level 1
-e ./packages/pymedphys_coordsandscales
-e ./packages/pymedphys_labs
-e ./packages/pymedphys_electronfactors
-e ./packages/pymedphys_workshops

# Level 2
-e ./packages/pymedphys_analysis
-e ./packages/pymedphys_databases

# Level 3
-e ./packages/pymedphys_dicom
-e ./packages/pymedphys_fileformats

# Level 4
-e ./packages/pymedphys_toolbox
-e ./packages/pymedphys_xlwings
-e ./packages/pymedphys_logfiles