cython; sys_platform=='darwin'
https://github.com/pymedphys/pymedphys/releases/download/v0.14.0/Shapely-1.6.4.post2-cp36-cp36m-win32.whl; sys_platform=='win32' and platform_machine=='i386'
https://github.com/pymedphys/pymedphys/releases/download/v0.14.0/Shapely-1.6.4.post2-cp36-cp36m-win_amd64.whl; sys_platform=='win32' and platform_machine=='AMD64'
