[MASTER]
init-hook = "import sys; sys.setrecursionlimit(2000)"

[MESSAGES CONTROL]
disable =
    bad-continuation,
    missing-docstring,
    empty-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    fixme,
    invalid-name,
    too-many-ancestors,
    R0801,
    len-as-condition,
    too-many-branches,
    too-many-statements,
    line-too-long,
    too-many-instance-attributes,
    wrong-import-order,
    wrong-import-position,
    ungrouped-imports,
    import-outside-toplevel,
    no-else-return,
    unbalanced-tuple-unpacking,
    raise-missing-from,
    consider-using-with,
    consider-using-min-builtin,
    consider-using-max-builtin,
    use-maxsplit-arg,
    unused-private-member,
    consider-using-from-import,


[FORMAT]
max-line-length=88
extension-pkg-whitelist =
    win32file,
    win32api,
    pymssql,
    numpy,
    scipy.special,
