version = 0

# TODO [v2]: Scope 'data_methods', 'output', and 'gamma' under a 'metersetmap'
# config
[data_methods]
available = ["monaco", "dicom", "icom", "trf", "mosaiq"]
default_reference = "monaco"
default_evaluation = "icom"

[output]
png_directory = '\\pdc\PExIT\Physics\Patient Specific Logfile Fluence'

[gamma]
dose_percent_threshold = 2
distance_mm_threshold = 0.5
local_gamma = true
quiet = true
max_gamma = 5
lower_percent_dose_cutoff = 20

# TODO [v2]: Consider changing from:
#     {"site": [{"name": "rccc", ...}, {"name": "nbcc", ...}]}
# to:
#     {"site": {"rccc": { ... }, "nbcc": { ... } }}
# The question here, 'is order important'? And maybe order preservation is
# helpful, in which case it should remain scoped within a list as opposed to
# a dictionary.
[[site]]
name = "rccc"

    # TODO [v2]: Change 'export-directories' to just 'directories'
    [site.export-directories]
    escan = '\\pdc\Shared\Scanned Documents\RT\PhysChecks\Logfile PDFs'
    anonymised_monaco = '\\pdc\PExIT\DataExchange\anonymised-monaco'
    icom_live = '\\rccc-physicssvr\iComLogFiles\live'
    iviewdb = '\\pdc\PExIT\DataExchange\iViewDB'
    icom = '\\rccc-physicssvr\iComLogFiles'

    [site.monaco]
    focaldata = '\\rccc-monacoda\FocalData'
    # TODO: One day support all clinics within the focal data directory
    clinic = 'RCCC\1~Clinical'

    [site.mosaiq]
    # TODO: One day make it so that timezone is extracted from the Mosaiq
    # server
    timezone = "Australia/Sydney"
    hostname = "msqsql"
    port = 1433

    [[site.linac]]
    name = "2619"
    ip = '192.168.100.200'

        [site.linac.directories]
        qa = '\\pdc\OneDrive$\RCCC Specific Files\Linac Beam Data Record\Synergy 2619'

    [[site.linac]]
    name = "2694"
    ip = '192.168.100.201'

        [site.linac.directories]
        qa = '\\pdc\OneDrive$\RCCC Specific Files\Linac Beam Data Record\Synergy 2694'


[[site]]
name = "nbcc"

    [site.export-directories]
    escan = '\\tunnel-nbcc-pdc\Shared\SCAN\ESCAN\Phys\Logfile PDFs'
    anonymised_monaco = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\anonymised-monaco'
    icom_live = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iCom\live'
    iviewdb = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iViewDB'
    icom = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iCom'

    [site.monaco]
    focaldata = '\\tunnel-nbcc-monaco\FOCALDATA'
    clinic = 'NBCCC\1~Clinical'

    [site.mosaiq]
    timezone = "Australia/Sydney"
    hostname = "rccc-physicssvr"
    port = 31433

    [[site.linac]]
    name = "4299"
    ip = '192.168.17.40'

        [site.linac.aliases]
        iview = "4299_iView"

        [site.linac.directories]
        qa = '\\pdc\OneDrive$\NBCCC Specific Files\Linac Beam Data Record\VersaHD 4299'


[[site]]
name = "sash"

    [site.export-directories]
    escan = '\\tunnel-sash-physics-server\SASH-Mosaiq-eScan\Logfile PDFs'
    anonymised_monaco = '\\tunnel-sash-physics-server\SASH-DataExchange\anonymised-monaco'
    icom_live = '\\tunnel-sash-physics-server\SASH-DataExchange\icom\live'
    iviewdb = '\\tunnel-sash-physics-server\iViewDB'
    icom = '\\tunnel-sash-physics-server\SASH-DataExchange\icom'

    [site.monaco]
    focaldata = '\\tunnel-sash-monaco\Users\Public\Documents\CMS\FocalData'
    clinic = 'SASH\1~Clinical'

    [site.mosaiq]
    timezone = "Australia/Sydney"
    hostname = "rccc-physicssvr"
    port = 1433

    [[site.linac]]
    name = "9002"
    ip = '192.168.40.10'

        [site.linac.aliases]
        iview = "Default"

        [site.linac.directories]
        qa = '\\pdc\OneDrive$\SASH Specific Files\Linac Beam Data Record\Synergy 9002'


[trf_logfiles]
root_directory = '\\rccc-physicssvr\LinacLogFiles'

# TODO: Need to deprecate this field and use the site specific config instead.
[icom]
patient_directories = [
    '\\rccc-physicssvr\iComLogFiles\patients',
    '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iCom\patients',
    '\\tunnel-sash-physics-server\SASH-DataExchange\icom\patients',
]
