version = 0

# TODO [v2]: Scope 'data_methods', 'output', and 'gamma' under a 'metersetmap'
# config
[data_methods]
available = ["monaco", "dicom", "icom", "trf", "mosaiq"]
default_reference = "monaco"
default_evaluation = "icom"

[output]
png_directory = '\\rccc-pdc\PExIT\Physics\Patient Specific Logfile Fluence'

[gamma]
dose_percent_threshold = 2
distance_mm_threshold = 0.5
local_gamma = true
quiet = true
max_gamma = 5
lower_percent_dose_cutoff = 20

# TODO [v2]: Consider changing from:
#     {"site": [{"name": "rccc", ...}, {"name": "nbcc", ...}]}
# to:
#     {"site": {"rccc": { ... }, "nbcc": { ... } }}
# The question here, 'is order important'? And maybe order preservation is
# helpful, in which case it should remain scoped within a list as opposed to
# a dictionary.
[[site]]
name = "rccc"

    # TODO [v2]: Change 'export-directories' to just 'export', move out all
    # locations that aren't actually an export location to their own config
    # area.
    [site.export-directories]
    escan = '\\rccc-pdc\Shared\Scanned Documents\RT\PhysChecks\Logfile PDFs'
    anonymised_monaco = '\\rccc-pdc\PExIT\DataExchange\anonymised-monaco'
    icom_live = '\\rccc-physicssvr\iComLogFiles\live'
    iviewdb = '\\rccc-pdc\PExIT\DataExchange\iViewDB'
    icom = '\\rccc-physicssvr\iComLogFiles'

    [site.monaco]
    focaldata = '\\rccc-monacoda\FocalData'
    # TODO: One day support all clinics within the focal data directory
    clinic = 'RCCC\1~Clinical'

    hostname = 'rccc-monacoda'
    dicom_port = '104'

    # A directory within FocalData where files can be moved immediately so that
    # no files can be opened during the archiving process.
    archive_holding = "ToBeArchived"

    # The final location for Monaco archives to be stored.
    archive_destination = '\\UTILSVR\PhysBack\MONACO_ARCHIVE_1'

    [site.mosaiq]
    # TODO: One day make it so that timezone is extracted from the Mosaiq
    # server
    timezone = "Australia/Sydney"
    hostname = "msqsql"
    port = 1433
    alias = "RCCC Mosaiq SQL Server"
    physics_qcl_location = "Physics_Check"

    [[site.linac]]
    name = "2619"
    ip = '192.168.100.200'

        [site.linac.directories]
        qa = '\\rccc-pdc\PExIT\Physics\RCCC Specific Files\Linac Beam Data Record\Synergy 2619'

    [[site.linac]]
    name = "2694"
    ip = '192.168.100.201'

        [site.linac.directories]
        qa = '\\rccc-pdc\PExIT\Physics\RCCC Specific Files\Linac Beam Data Record\Synergy 2694'


[[site]]
name = "nbcc"

    [site.export-directories]
    escan = '\\tunnel-nbcc-pdc\Shared\SCAN\ESCAN\Phys\Logfile PDFs'
    anonymised_monaco = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\anonymised-monaco'
    icom_live = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iCom\live'
    iviewdb = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iViewDB'
    icom = '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iCom'

    [site.monaco]
    focaldata = '\\tunnel-nbcc-monaco\CMS\FocalData'
    clinic = 'NBCCC\1~Clinical'
    hostname = 'rccc-ssh'
    dicom_port = '35104'

    [site.mosaiq]
    timezone = "Australia/Sydney"
    hostname = "rccc-ssh"
    port = 31433
    alias = "NBCC Mosaiq SQL Server"
    physics_qcl_location = "Physics"

    [[site.linac]]
    name = "4299"
    ip = '192.168.17.40'

        [site.linac.aliases]
        iview = "4299_iView"

        [site.linac.directories]
        qa = '\\rccc-pdc\PExIT\Physics\NBCCC Specific Files\Linac Beam Data Record\VersaHD 4299'


[[site]]
name = "sash"

    [site.export-directories]
    escan = '\\tunnel-sash-physics-server\SASH-Mosaiq-eScan\Logfile PDFs'
    anonymised_monaco = '\\tunnel-sash-physics-server\SASH-DataExchange\anonymised-monaco'
    icom_live = '\\tunnel-sash-physics-server\SASH-DataExchange\icom\live'
    iviewdb = '\\tunnel-sash-physics-server\iViewDB'
    icom = '\\tunnel-sash-physics-server\SASH-DataExchange\icom'

    [site.monaco]
    focaldata = '\\tunnel-sash-monaco\Users\Public\Documents\CMS\FocalData'
    clinic = 'SASH\1~Clinical'

    [site.mosaiq]
    timezone = "Australia/Sydney"
    hostname = "rccc-ssh"
    port = 1433
    alias = "SASH Mosaiq SQL Server"
    physics_qcl_location = "Physics_Check"

    [[site.linac]]
    name = "9002"
    ip = '192.168.40.10'

        [site.linac.aliases]
        iview = "Default"

        [site.linac.directories]
        qa = '\\pdc\PExIT\Physics\SASH Specific Files\Linac Beam Data Record\Synergy 9002'


[trf_logfiles]
root_directory = '\\physics-server\LinacLogFiles'

# TODO: Need to deprecate this field and use the site specific config instead.
[icom]
patient_directories = [
    '\\rccc-pdc\PExIT\DataExchange\iCom\patients',
    '\\tunnel-nbcc-pdc\Physics\NBCC-DataExchange\iCom\patients',
    '\\tunnel-sash-physics-server\SASH-DataExchange\icom\patients',
]

[electron_insert_modelling]
data_path = '\\rccc-pdc\PExIT\Physics\RCCC Specific Files\Dosimetry\Elekta_EFacs\electron_factor_measured_data.csv'

    [electron_insert_modelling.patterns]
    beam_model_name = 'RiverinaAgility - (\d+)MeV'
    applicator = '(\d+)X\d+'

[monaco_archiving]
default_weeks_to_keep = 26
